@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverAnimation {
    @apply cursor-pointer rounded-full transition-all duration-200 hover:bg-shadowHoverLight dark:hover:bg-shadowHoverDark;
  }

  .btn-side {
    @apply h-8 w-8 cursor-pointer text-black
     opacity-70
     transition-all duration-300 ease-out active:scale-125
   dark:text-white;
  }

  .btn-post {
    @apply h-6 w-6 cursor-pointer text-emerald-400 transition-all duration-300 ease-out hover:scale-110;
  }

  .btn-top {
    @apply h-6 w-6 cursor-pointer text-black transition-all ease-out hover:scale-105 active:scale-125 dark:text-emerald-300;
  }

  .border-layout {
    @apply border-borderLight dark:border-borderDark;
  }

  .post-btn-transition {
    @apply transition-all duration-200 ease-in hover:scale-105 hover:bg-emerald-200 active:scale-110;
  }

  .postcard-btn {
    @apply h-6 w-6;
  }

  .tooltip {
    @apply relative before:invisible before:absolute before:left-1/2 
    before:-bottom-3 before:z-10 before:w-max before:max-w-xs 
    before:-translate-x-1/2 before:translate-y-full before:rounded-lg before:bg-gray-700 
    before:px-2 before:py-1.5 before:text-[12px] before:font-semibold  before:text-white
    before:content-[attr(data-tip)] after:invisible after:absolute after:left-1/2 after:-bottom-3 after:z-10 
    after:h-0 after:w-0 after:-translate-x-1/2  after:border-8
    after:border-b-gray-700 after:border-l-transparent after:border-t-transparent 
    after:border-r-transparent hover:before:visible hover:after:visible;
  }
}
